{% load i18n %}

{% block nav %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">{% translate "Task manager" %}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users' %}">{% translate "Users" %}</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'statuses' %}">{% translate "Statuses" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'labels' %}">{% translate "Labels" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks' %}">{% translate "Tasks" %}</a>
          </li>

          <li class="nav-item">
								<form action="/logout/" method="post">
								{% csrf_token %}
								<input class="btn nav-link" type="submit" value="Выход">
								</form>
          </li>
            {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">{% translate "Login" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_user' %}">{% translate "Registration" %}</a>
          </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}