<!-- task_manager/templates/index.html -->
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container-lg mt-3 ">
    <h1>{% translate "Users" %}</h1>
    <div class="table-responsive">
        <table  class="table table-bordered align-middle text-center">
            <thead>
                <tr>
                    <th class="col-1">ID</th>
                    <th class="col-3">{% translate "Nickname" %}</th>
                    <th class="col-5">{% translate "Full name" %}</th>
                    <th class="col-3">{% translate "Created at" %}</th>
                    <th class="col-2"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.get_full_name }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>
                        <a href="{% url 'update_user' user.id %}">Edit</a>
                        <a href="{% url 'delete_user' user.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}