<!-- task_manager/templates/index.html -->
{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Main" %}{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1 p-5">
  <div class="card mb-3">
    <div class="card-body p-5">
      <div class="display-5">{% translate "Task manager" %}</div>
      <div class="lead pt-2">
        <p>{% translate "Task Manager – a task management system similar to " %}
          <a href="http://www.redmine.org/">Redmine.</a>
          {% translate "It allows you to set tasks, assign performers and change their statuses. It uses key aspects of website development:" %}</p>
        <ul>
          <li>{% translate "Creating entities using ORM" %}</li>
          <li>{% translate "Description of relationships between entities (o2m, m2m)" %}</li>
          <li>{% translate "Resource routing using" %}</li>
          <li>{% translate "Working out the authorization in Django" %}</li>
          <li>{% translate "Creating forms to filter data" %}</li>
          <li>{% translate "Rollbar error collector integration" %}</li>
        </ul>
      </div>
      <hr>
      <a class="btn btn-primary btn-lg bg-dark border-dark" href="https://ru.hexlet.io/programs/python/projects/52">{% translate "Learn more" %}</a>
    </div>
  </div>
</div>
{% endblock %}