{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate "Login" %}{% endblock %}

{% block content %}
<div class="container-lg mt-3 ">
<h1>{% translate 'Login' %}</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-error list-unstyled text-danger">{{ form.non_field_errors }}</div>
    {% for f in form %}
        <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p ><button class="btn btn-primary bg-dark border-dark" type="submit">{% translate "Login" %}</button></p>
</form>
</div>
{% endblock %}
