<!-- task_manager/templates/index.html -->
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container-lg mt-3 ">
    <h1>{{ title }}</h1>
<div class="card mt-3">
  <div class="card-header">
    <h3>{{task.name}}</h3>
  </div>
  <div class="card-body">
    <p>{{task.description}}</p>
    <hr>
    <div class="row p-2">
      <div class="col">{% translate "Author" %}:</div>
      <div class="col">{{task.author}}</div>
    </div>
    <div class="row p-2">
      <div class="col">{% translate "Task perfomer" %}:</div>
      <div class="col">{{task.executor}}</div>
    </div>
    <div class="row p-2">
      <div class="col">{% translate "Status" %}:</div>
      <div class="col">{{task.status}}</div>
    </div>
    <div class="row p-2">
      <div class="col">{% translate "Created at" %}:</div>
      <div class="col">{{task.time_create}}</div>
    </div>
    <div class="row p-2">
      <div class="col">{% translate "Labels" %}:
        <ul>
          {% for label in task.labels.all %}
            <li>{{label}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <a class="p-2" href="{% url 'update_task' task.id %}">{% translate "Edit" %}</a>
    <br>
    <a class="p-2" href="{% url 'delete_task' task.id %}">{% translate "Delete" %}</a>
    </div>
  </div>
</div>
</div>
{% endblock %}